<table border="1" width="100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Asset Tag</th>
      <th>Serial</th>
      <th>Tipo</th>
      <th>Estado</th>
      <th>Ubicación</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of data">
      <td>{{ e.id }}</td>
      <td>{{ e.assetTag }}</td>
      <td>{{ e.serialNumber }}</td>

      // Aquí aplicamos los pipes 

      <td>{{ e.type | typeLabel }}</td>
<td>{{ e.status | statusLabel }}</td>
      <td>{{ e.locationId }}</td>
    </tr>
  </tbody>
</table>
